* {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}

.shortcut {
    background-color: bisque;
    width: 100%;
    height: 31px;
    line-height: 31px;
}
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

.nav-head {
    
    background-color: bisque;
}

.shortcut ul li {
    float: left;
    margin-left: 5px;
}
