/* 字体声明, 引入字体图标的文件 */
@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?p4ssmb');
    src:  url('../../fonts/icomoon.eot?p4ssmb#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?p4ssmb') format('truetype'),
        url('../../fonts/icomoon.woff?p4ssmb') format('woff'),
        url('../../fonts/icomoon.svg?p4ssmb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
body {
    /*320是一个经验值*/
    min-width: 320px;
    max-width: 540px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    background-color: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
div {
    box-sizing: border-box;
}
/* 搜索模块 */
.search-index {
    display: flex;
    /* 固定定位跟父级没有关系 ，以屏幕为准 */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    /* 以上两句是为了居中，因为是固定定位，用margin:0 auto;是没有用的 */
    min-width: 320px;
    max-width: 540px;
    /* 固定的盒子应该有宽度 */
    width: 100%;
    height: 44px;
    /* background-color: aquamarine; */
}
.search-index .search {
    height: 26px;
    line-height: 24px;
    border: 1px solid #ccc;
    flex: 1;
    font-size: 12px;
    color: #666;
    padding-left: 5px;
    margin: 8px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.search-index .search::before {
    font-family: 'icomoon';
    content: "\e986";
    font-size: 12px;
    margin-right: 5px;
}
.search-index .user {
    width: 44px;
    height: 44px;
    /* background-color: lightpink; */
    font-size: 10px;
    text-align: center;
    color: cornflowerblue;
}
.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/tabbar.png) no-repeat -6px -100px;
    background-size: 32px auto;
    margin: 5px auto 0;
}

.focus img {
    width: 100%;
    padding-top: 44px;
    /* margin-top: 44px; */
}

.local-nav {
    display: flex;
    height: 64px;
    background-color: aqua;
    margin: 3px 4px;
    border-radius: 8px;
}
.local-nav li {
    flex: 1;
}