/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --bg-color: hsl(220, 18%, 78%);
    --bg-color-light: hsl(220, 18%, 86%);
    --title-color: hsl(220, 8%, 10%);
    --text-color: hsl(220, 4%, 32%);
    --text-color-light: hsl(220, 4%, 55%);
    --body-color: hsl(220, 18%, 99%);
    --container-color: hsl(220, 18%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Lora', serif;

    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1124px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s;
    /*For animation dark mode*/
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
    /* --bg-color: hsl(220, 18%, 78%);
    --bg-color-light: hsl(220, 18%, 86%);
    --title-color: hsl(220, 8%, 10%);
    --text-color: hsl(220, 4%, 32%);
    --text-color-light: hsl(220, 4%, 55%);
    --body-color: hsl(220, 18%, 99%);
    --container-color: hsl(220, 18%, 97%); */

    /* 这里的设置dark模式就更专业了，通过重新设置一组数值 */
    --bg-color: hsl(220, 18%, 13%);
    --bg-color-light: hsl(220, 18%, 23%);
    --title-color: hsl(220, 8%, 95%);
    --text-color: hsl(220, 8%, 65%);
    /* --text-color-light: hsl(220, 4%, 55%); */
    --body-color: hsl(220, 18%, 18%);
    --container-color: hsl(220, 18%, 21%);
}

/*========== Button Dark/Light ==========*/
.change-theme {
    color: var(--title-color);
    font-size: 1.125rem;
    cursor: pointer;
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/
.dark-theme .scroll-header {
    background-color: var(--container-color);
    box-shadow: 0 2px 8px hsla(220, 18%, 8%, .3);
}

.dark-theme .nav__menu {
    background-color: var(--container-color);
}

.dark-theme .nav__menu,
.dark-theme .scrollup {
    box-shadow: 0 4px 8px hsla(220, 18%, 8%, .3);
}

.dark-theme::-webkit-scrollbar {
    background-color: hsl(220, 18%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
    background-color: hsl(220, 18%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
    background-color: hsl(220, 18%, 35%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: 3rem;
}

.main {
    overflow: hidden;
    /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

@media screen and (max-width:1023px) {
    .nav__menu {
        position: fixed;
        bottom: 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 4px 12px hsla(220, 18%, 40%, .15);
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 1.25rem 2.8rem;
        border-radius: .5rem;
        transition: .4s;
        /*For animation dark mode*/
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__link {
        color: var(--text-color-light);
        font-weight: var(--font-medium);
        display: grid;
        justify-items: center;
        row-gap: .25rem;
    }

    .nav__link i {
        font-size: 1.25rem;
    }

    .nav_link span {
        font-size: .688rem;
    }
}

/* Change background header 当滚动条滚动一段距离之后，在顶端的导航就出现一个阴影，类似于一直粘贴在顶部
这一部分通过javascript实现，见main.js*/
.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 1px 4px hsla(220, 4%, 15%, .1);
}

/* Active link */
.active-link {
    color: var(--title-color);
}

/*=============== HOME ===============*/
.home {
    background-color: var(--bg-color);
    overflow: hidden;
    transition: .4s;
    /*For animation dark mode*/
}

.home__container {
    padding: 4rem 0 2rem;
    row-gap: 8.5rem;
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-regular);
}

.home__description {
    color: var(--title-color);
    margin: 1rem 0 2rem;
}

.home__title,
.home__description {
    line-height: 140%;
}

.home__images {
    position: relative;
    width: 310px;
    /* height: 300px; */
    justify-self: center;
}

.home__images img:nth-child(1) {
    width: 224px;
    position: absolute;
    right: -1.5rem;
    /* 这个地方用-9.5和上面的gap 8.5有一个偏差，是要有一个旁边箭头指向这个图片的效果 */
    top: -9.5rem;
}

.home__images img:nth-child(2) {
    width: 180px;
    margin-left: .5rem;
    position: relative;
    /* left: -1.5rem;
    bottom: -1.5rem; */
    /* position: relative; */
    /* 此处和教程不同，当前的结果是根据视图修改之后 的 */
    /* 因为home__container的书写错误，造成 row-gap没有起作用，这个地方是8.5rem正好是top这个值的问题。
    这个地方没有问题了 */
}

/*=============== BUTTON ===============*/
.button__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.button__link i {
    font-size: 1rem;
    transition: .5s;
}

.button__link:hover {
    transform: translateX(.25rem);
}

/*=============== NEW ===============*/
.new__container {
    row-gap: 2.5rem;
    /* background-color: aquamarine; */
    padding-bottom: 1.5rem;
}

.new__card {
    justify-self: center;
    /* background-color: tomato; */
}

.new__img {
    width: 270px;
    margin-bottom: 1rem;
    /* background-color: tomato; */
}

.new__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--title-color);
    padding-right: .75rem;
    /* background-color: tomato; */
}

.new__link i {
    font-size: 1.25rem;
    transition: .3s;
}

.new__link i:hover {
    transform: translateX(.5rem);
}

.new__title {
    font-size: var(--h2-font-size);
    margin-bottom: .25rem;
}

.new_subtitle {
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

/*=============== COLLECTION ===============*/
.collection {
    background-color: var(--bg-color-light);
    /* 两次出现的overflow,hidden是为了避免什么？没有明白  */
    overflow: hidden;
    transition: .4s;
    /*For animation dark mode*/
}

.collection__container {
    position: relative;
    height: 571px;
    display: grid;
    justify-items: center;
}

.collection__title {
    font-size: var(--h1-font-size);
    margin-bottom: .75rem;
}

.collection__explore {
    display: grid;
    column-gap: 2rem;
    position: absolute;
}

.collection__explore:nth-child(2) {
    /* 让图片宽度为230px，文字以文字的最大宽度 */
    grid-template-columns: 230px max-content;
    bottom: 1rem;
    margin-right: 5rem;
}

.collection__explore:nth-child(1) {
    grid-template-columns: max-content 230px;
    top: 0;
    margin-left: 5rem;
}

.collection__data-men {
    margin-top: 2.5rem;
}

.collection__data-women {
    /* 让文字和图片下方对齐 */
    align-self: flex-end;
    margin-bottom: 2.5rem;
}

/*=============== PRODUCTS ===============*/
.products__container {
    /* 作者为什么要先设置这里，一个大盒子的下沿，这个完全可以在下一个盒子的时候设置marin-top，不解 */
    padding-bottom: 5rem;
    /* background-color: tomato; */
}

.products__card {
    width: 270px;
}

.products__img {
    margin-bottom: 37.5px;
}

.products__title {
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}

.products__price {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

/* Swiper class */
/* 原来的大箭头，是::after控制的，这里设置为空即可显示出来我们设置的字体图标 i */
.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-prev,
.swiper-button-next {
    /* 这个initial貌似之前没有接触过？是什么意思？ */
    top: initial;
    bottom: 0;
    width: initial;
    height: initial;
    font-size: 2rem;
    color: var(--title-color);
}

.swiper-button-prev {
    left: calc(50% - 2.5rem);
}

.swiper-button-next {
    right: calc(50% - 2.5rem);
}

/*=============== BRANDS ===============*/
.brand__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 1.25rem;
}

.brand__img {
    width: 120px;
}

/* 这里就联想到上次的0016课程，这个错开的效果，应该用下面的方法更好 */
.brand__img:nth-child(even) {
    margin-top: 2rem;
}

/*=============== FOOTER ===============*/
.footer__container {
    row-gap: 3rem;
}

.footer__logo {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    display: inline-block;
    margin-bottom: .75rem;
}

.footer__content,
.footer__links {
    display: grid;
}

.footer__content {
    /* 这应该是bootstrap布局，2*2布局 */
    grid-template-columns: repeat(2, max-content);
    gap: 3.5rem 3rem;
}

.footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1.25rem;
}

.footer__links {
    row-gap: .75rem;
}

.footer__link,
.footer__information {
    font-size: var(--small-font-size);
}

.footer__link {
    color: var(--text-color);
    transition: .3s;
}

.footer__link:hover {
    text-decoration: underline;
    color: var(--title-color);
}

.footer__social {
    display: flex;
    column-gap: .5rem;
}

.footer__social-link {
    /* inline-flex有什么作用？ */
    display: inline-flex;
    padding: .4rem;
    color: var(--title-color);
    background-color: var(--container-color);
    font-size: 1.25rem;
    transition: background-color .3s;
    border-radius: 20%;
}

.footer__social-link:hover {
    color: var(--text-color-light);
    background-color: var(--bg-color-light);
    border-radius: 20%;
}

.footer__info {
    margin-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
}

.footer__copy,
.footer__privacy {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(220, 8%, 76%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(220, 8%, 64%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(220, 8%, 54%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    /* bottom: 7.5rem; */
    /* 当设置为7.5rem的时候，是正常的显示位置，
    使用javascript的时候，在触发的时候增加一个show-scroll样式，将这个值设置回来 */
    bottom: -30%;
    background-color: var(--container-color);
    box-shadow: 0 8px 12px hsla(220, 18%, 45%, .15);
    display: inline-flex;
    padding: .35rem;
    color: var(--title-color);
    font-size: 1.1rem;
    z-index: var(--z-tooltip);
    transition: .3s;
}

.scrollup:hover {
    transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll {
    /* 当设置为7.5rem的时候，是正常的显示位置，
    使用javascript的时候，在触发的时候增加一个show-scroll样式，将这个值设置回来 */
    bottom: 7.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .footer__content {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }

    .nav__menu {
        /* padding: 1rem 1.5rem; */
        /* 这个地方如果用作者的，在280px的时候特别挤，所以变成左右0.5rem */
        padding: 1rem .25rem;
    }

    .home__container {
        padding: 2rem 0 1rem;
        row-gap: 6rem;
    }

    .home__description {
        font-size: var(--small-font-size);
    }

    .home__images {
        width: 248px;
    }

    .home__images img:nth-child(1) {
        width: 180px;
        top: -7rem;
    }

    .home__images img:nth-child(2) {
        width: 150px;
    }

    /* 这一句没有看出来效果？ */
    .new__img {
        width: 230px;
    }

    .new__link {
        padding-right: 0;
    }

    .collection__explore:nth-child(1),
    .collection__explore:nth-child(2) {
        position: initial;
        grid-template-columns: 230px;
        row-gap: 2rem;
        margin: 0;
    }

    .collection__container {
        height: initial;
        row-gap: 3rem;
    }

    .collection__data-men {
        margin-top: 0;
    }

    .collection__data-women {
        margin-bottom: 0;
    }

    .products__card {
        width: 230px;
    }

    .brand__container {
        grid-template-columns: repeat(2, 100px);
        row-gap: .5rem;
    }
}

/* For medium devices */


/* For large devices */


/* For 2K resolutions (2048 x 1152, 2048 x 1536) */


/* For 4K resolutions (3840 x 2160, 4096 x 2160) */